body {
    background-color: skyblue;
    margin: 0;
}

main {
    margin: 0 auto;
    width: 50vw;
    display: grid;
    grid-gap: 1em;
    padding: 1em;
    grid-template-rows: 10fr 50fr 25;
    grid-template-columns: 15fr 40fr 15fr 5fr;
    grid-template-areas: "score-box header live-counter right"
                        "canvas canvas canvas right"
                        "button nav nav right"
}

#score-box {
    grid-area: score-box;
    text-align: center;
    font-size: 42px;
    margin-top: 10px;
    border: 4px solid goldenrod;
    font-family: 'Amatic SC', cursive;
}

#header {
    grid-area: header;
    text-align: center;
    font-size: 90px;
    margin-top: 15px;
    font-family:'Amatic SC', cursive;
}

#live-counter {
    grid-area: live-counter;
    text-align: center;
    font-size: 42px;
    margin-top: 10px;
    border: 4px solid goldenrod;
    font-family: 'Amatic SC', cursive;
}

#canvas {
    border: 2px solid goldenrod;
    grid-area: canvas;
    width: 100%;
    overflow: hidden;
}


#nav {
    grid-area: nav;
    text-align: center;
    font-size: 36px;
    letter-spacing: 8px;
    font-family: 'Amatic SC', cursive;
    margin-right: 100px;
}

#button {
    grid-area: button;
    text-align: center;
    font-family: 'Amatic SC', cursive;
    font-size: 18px;
    width: 50%;
    height: 24px;
}

#images {
    display: none;
}



